.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 18px;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  background: linear-gradient(96.86deg, #206fe8 26.86%, #4ba0ff 78.22%);
  border-radius: 50%;
  z-index: 300;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
    height: 7rem;
    width: 7rem;
  }
}

.navigation__background {
  position: fixed;
  top: 18px;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: linear-gradient(89.9deg, #1a1a1a 1.18%, #626262 99.92%);
  background: linear-gradient(96.86deg, #206fe8 26.86%, #4ba0ff 78.22%);
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

@media screen and (min-width: 768px) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
    height: 6rem;
    width: 6rem;
  }
}

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  visibility: hidden;
  z-index: 200;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  /*@include center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  list-style: none;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 3.8rem;
  }
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover {
  color: #00000099;
  transform: scale(1.1);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.navigation__icon {
  position: relative;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .navigation__icon {
    margin-top: 3.5rem;
  }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 28px;
  height: 2px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
  }
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 200ms;
}

.navigation__icon::before {
  top: -10px;
}

.navigation__icon::after {
  top: 10px;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
